/.idea/
/__tests__/
/gulp/
/src/
/coverage/
.editorconfig
demo.gif
.babelrc
.eslintignore
.eslintrc
.gitignore
.scsslint.yml
.travis.yml
config.json
gulpfile.babel.js
webpack.config.build.babel.js
webpack.config.example.babel.js
