language: node_js
node_js:
  - "6"
branches:
  only:
  - master
before_install:
  - npm install -g eslint
  - npm install -g babel-cli
  - npm install -g jest-cli
script:
    - "gulp eslint && gulp scss-lint && npm test"
